img{
    width: 100%;
    height: 100%;
}
div{
    width: 31%;
    height: 31%;
    display: inline-block;
}
.top-left-box,
.middle-left-box,
.bottom-left-box
{
    border-right: 1px solid black;
}
.top-box,
.middle-box,
.top-left-box,
.middle-left-box,
.top-right-box,
.middle-right-box
{
    border-bottom: 1px solid black;
}
.top-right-box,
.middle-right-box,
.bottom-right-box
{
    border-left: 1px solid black;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-left: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.modal2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(win1.gif);
}
.modal2-content {
    width: 100%;
    height: 100%;
    font-weight: 600;
    color:#fff;
    font-size:120px;
    position: relative;
    padding-left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #f70000, #d501ff, #00f767);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0%;
    animation: animate 8s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(5, 9, 247, 0.5);
  }
.modal3{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url(win.gif);
}
.modal3-content {
    width: 100%;
    height: 100%;
    font-weight: 600;
    color:#fff;
    font-size:120px;
    position: relative;
    padding-left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #f70000, #d501ff, #00f767);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0%;
    animation: animate 8s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(5, 9, 247, 0.5);
  }
  @keyframes animate {
    0% {
      background-position: -500%;
      -webkit-text-fill-color: rgba(241, 0, 0, 0);
    }
    90% {
      background-position: 500%;
      -webkit-text-fill-color: rgba(218, 64, 64, 0);
    }
    99.999% {
      background-position: 0%;
      -webkit-text-fill-color: rgba(8, 255, 82, 0);
    }
    100% {
      background-position: 0%;
      -webkit-text-fill-color: rgba(0, 160, 253, 0.5);
    }
  }